.container {
  cursor: pointer;
  border-bottom-style: solid;
  box-sizing: content-box;
  user-select: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;

  &.sm {

  }
  &.md {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 700;
    border-bottom-width: 3px;
    margin-bottom: 3px;
    &:active {
      margin-top: 8px;
      border-bottom-width: 0;
    }
  }
  &.lg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    width: 200px;
    height: 60px;
    border-bottom-width: 5px;
    margin-bottom: 5px;
    &:active {
      border-bottom-width: 0;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  &.light {
    border-top: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    background-color: white;
    border-bottom-color: #EBEBEB;
    &:active {
      border-bottom-width: 1px;
    }
  }
  &.grey {
    color: white;
    background-color: #B2B2B2;
    border-bottom-color: darken(#B2B2B2, 12%);
  }
  &.transparent {
    color: #888888;
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  &.opacity {

  }
}