.container {
  margin-top: 10px;
  margin-bottom: 20px;
  label {
    color: #555;
    font-weight: 700;
  }
  input[type=number] {
    width: 75px;
    height: 38px;
    padding: 10px;
    font-size: 16px;
    margin-right: 5px;
    margin-top: 10px;
    border: 0;
    background-color: #EFEFEF;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
  }
}