.container {
  color: white;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid darken(white, 15%);
    .icon {
      cursor: pointer;
    }
  }
}